{% load static %}
{% include "includes/header.html" %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="inner-heading">
                    <h2>Candidates</h2>
                </div>
            </div>
            <div class="span4">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Programs</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="span12 align-center">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li
                                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Program Name</th>
                        <th scope="col">Candidates Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in programs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.program }}</td>
                        <td>{{ i.candidate }}</td>
                        <td>
                             <a href="/committee-members/programs/view-candidates/delete/{{ i.id }}"
                               class="btn btn-danger btn-sm">CANCEL</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% include "includes/footer.html" %}