   {% load static %} 
   {% include "includes/header.html" %}
        <section id="featured">
      <!-- start slider -->
      <!-- Slider -->
      <div id="nivo-slider">
        <div class="nivo-slider">
          <!-- Slide #1 image -->
          <img src="{% static 'img/slides/nivo/bg-1.jpg' %}" alt="" title="#caption-1" />
          <!-- Slide #2 image -->
          <img src="{% static 'img/slides/nivo/bg-2.jpg' %}" alt="" title="#caption-2" />
          <!-- Slide #3 image -->
          <img src="{% static 'img/slides/nivo/bg-3.jpg' %}" alt="" title="#caption-3" />
        </div>
      </div>
      <!-- end slider -->
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-briefcase icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Kerala School Kalolsavam</h6>
                    <p>
                      School Arts Festival of Kerala is an annual event conducted by the state government of Kerala, featuring several art competitions for high school and higher secondary school students of Kerala. The festival was started in 1956, and till 2008, it was called as "Kerala State School Youth Festival". The participants are students from classes 8th to 12th. Winners from different revenue districts for a particular event will be competing in state level competition. The event is usually conducted in December–January months of a year and is considered to be the biggest cultural event of Asia.[1][2] 61st edition of Kerala School Kalolsavam, 2020-21 is scheduled at Kollam.
                    </p>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-desktop icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>About</h6>
                    <p>
                     Kerala Schools Kalolsavam is a festival unique in its structure and organisation. The organisational set up from school level to state level for the conduct of the Kalolsavam is monitored by Education Department as per the manual drafted by experts in the field. Looking back into the history of School Kalolsavam in the last 53 years it is seen that the Kalolsavam has refined much in letter and spirit. Students get opportunity to express their talent in school level, sub district level, district level and at last at state level. When performers reach state level, perfection reaches its zenith.
                    </p>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-beaker icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>History</h6>
                    <p>
                      In 1956-57 when the School Yuvajanolsavam(Former name) began, it hadn't reached anywhere near the variety, pomp and the vast canvas which the festival has now reached. Dr.C.S.Venkiteswaran was the DPI in 1956. He had the opportunity to participate in the Inter-University festival at Delhi during that time. This inspired the great visionary to organize a similar festival at school level and thus he sowed the seed of School Kalolsavam at Ernakulam SRV High School in 1956. Programme was scheduled for one day and there were 200 participants. Mid-day meal and tea was served. Participation was directly from school level. Year by year more and more items were included, and number of days of the Kalolsavam was increased. Number of participants have increased to ten thousand.
                    </p>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-coffee icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Prizes</h6>
                    <p>
                      In the year 2000, Millennium trophy a beautiful dancing Nataraja trophy was introduced. Today there are numerous trophies, cash prizes, grace marks etc. to the winners. The system of Kalathilakam & Kalaprathiba was dispensed with to eliminate unhealthy competition. The festival has a foolproof system to encourage thousands of students in various Art & Literary forms in each academic year. Perfect time management, impartial Judgement, on the spot arrangements to dispose of appeals etc. has always been a matter of concern. From 2008-2009 it becomes a festival of students from Std.VIII to Plus 2 level. In a Nut Shell, School Kalolsavam is a Kaleidoscope of Kerala's young talent in the field of Art and Literature. Each year the venue of the Kalolsavam is changed from one District to another to ensure the participation of the people throughout the state.[3]
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        <!-- Portfolio Projects -->
        <div class="row">
          <div class="span12">
            <h4 class="heading">Some of recent <strong>works</strong></h4>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="{% static 'img/works/full/image-01-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{% static 'img/works/thumbs/image-01.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-1" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="{% static 'img/works/full/image-02-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{% static 'img/works/thumbs/image-02.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="{% static 'img/works/full/image-03-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{% static 'img/works/thumbs/image-03.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="{% static 'img/works/full/image-04-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{% static 'img/works/thumbs/image-04.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-4" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea" href="{% static 'img/works/full/image-05-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{% static 'img/works/thumbs/image-05.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-5" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="{% static 'img/works/full/image-06-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{% static 'img/works/thumbs/image-06.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="{% static 'img/works/full/image-07-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{% static 'img/works/thumbs/image-07.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="{% static 'img/works/full/image-08-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{% static 'img/works/thumbs/image-08.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                </ul>
              </section>
            </div>
          </div>
        </div>
        <!-- End Portfolio Projects -->
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
      </div>
    </section>
    <section id="bottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <div id="twitter-wrapper">
                <div id="twitter">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "includes/footer.html" %}